html {
  scroll-behavior: smooth;
  font-family: 'BIZ UDPGothic';
}

/* animation */
.fade {
  opacity: 0;
  transition: opacity 1s;
}

.fade.active {
  opacity: 1;
}

.linear-gold {
  /* gord */
  background: linear-gradient(270deg, #cbb376 0%, #fff8e5 46%, #a39258 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.linear-green {
  background: linear-gradient(90deg, #87f793 0%, #eaffec 50%, #9bf1a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sp {
  display: block;
}

.pc {
  display: none;
}

a:hover,
a.btn:hover {
  opacity: 0.8;
  transition: opacity 0.4s;
}

@media (min-width: 900px) {
  .sp {
    display: none;
  }

  .pc {
    display: block;
  }
}

.top {
  background: #123758;

  .belt {
    width: 100%;
    background: #ffffff;
    height: 70px;
    margin-top: 32px;
    padding: 14px 0;

    p {
      font-family: 'Noto Sans JP';
      font-weight: 700;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #00a311;
    }
  }

  &-container {
    width: 88%;
    margin: 0 auto;

    .points {
      display: none;
    }

    .msg-area {
      color: #ffffff;
      align-items: start;

      .main-msg {
        margin: 40px 0 0 0;
        text-align: center;
        color: #ffffff;

        h1 {
          display: flex;
          flex-direction: column;

          font-weight: 700;
          font-size: 22px;
          line-height: 150%;
          letter-spacing: 0.1em;
          color: #ffffff;

          text-align: start;
        }

        .underline {
          display: inline-block;
          background: linear-gradient(transparent 97%, #fff 0%);
          padding: 0 10px 8px 7px;
        }

        .linear-gold {
          line-height: 190%;
          font-size: 34px;
          letter-spacing: 0.1em;
          font-weight: 700;
        }
      }

      .sub-msg {
        align-items: start;
        margin-top: 16px;

        .msg1,
        .msg2 {
          color: #000;
          background: #f8f6f6;
          padding: 2px 9px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          font-family: 'Noto Sans JP';
        }

        .msg2 {
          margin-top: 8px;
        }

        .msg3 {
          margin-top: 23px;

          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1em;
          font-weight: 700;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 28px;
        height: 64px;
        padding: 0 36px;
        background: #0ebc20;
        border-radius: 120px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.05em;

        align-self: center;
      }
    }
  }
  .top-img {
    margin-top: -58px;
    position: relative;
    object-fit: cover;
  }
}

@media (min-width: 900px) {
  .top {
    width: 100%;
    aspect-ratio: 742 / 389;

    background-image: url(/img/top-background.svg);
    background-size: cover;
    background-repeat: no-repeat;

    .belt {
      height: 64px;
      margin-top: 54px;

      br {
        display: none;
      }

      p {
        font-size: 24px;
      }
    }

    &-container {
      width: 90%;
      flex-direction: row;
      max-width: 1220px;
      margin-left: 6vw;
      height: 73%;

      .content {
        width: 55%;
        flex-direction: column;
        align-items: start;
        margin: 0;
        margin-top: 36px;

        .tools {
          height: auto;
        }

        .points {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          margin-top: -45px;
          gap: 8px;
          justify-content: center;

          & > li {
            justify-content: center;
            align-items: center;
            height: 44px;
            margin: 0;
            padding: 8px 4px;

            font-weight: 700;
            font-size: clamp(18px, 1.66vw, 24px);
            line-height: 150%;
            letter-spacing: 0.1em;

            color: #ffffff;
            background-color: #00a811;
          }
        }
      }

      .msg-area {
        width: 45%;
        align-items: start;
        margin: 0;
        color: #ffffff;
        margin-top: 42px;

        .main-msg {
          width: 100%;
          margin: 0;
          align-items: start;
          color: #ffffff;

          h1 {
            align-items: start;
            flex-direction: column;
            row-gap: 20px;

            font-weight: 700;
            font-size: clamp(20px, 2.5vw, 36px);
            line-height: 150%;
            letter-spacing: 0.1em;

            .linear-gold {
              font-weight: 700;
              font-size: clamp(32px, 3.88vw, 56px);
              line-height: 150%;
              letter-spacing: 0.1em;
            }
          }
        }

        .sub-msg {
          margin: 26px 0 0 0;
          align-items: start;
          row-gap: 13px;

          .msg1,
          .msg2 {
            height: 40px;

            font-family: 'Noto Sans JP';
            font-weight: 900;
            font-size: clamp(18px, 1.8vw, 26px);
            line-height: 150%;
            color: #000000;
            background: #fff;
            padding: 4px 9px;
          }

          .msg3 {
            margin-top: 34px;

            font-weight: 700;
            font-size: clamp(12px, 1.38vw, 20px);
            line-height: 150%;
            letter-spacing: 0.1em;
          }
        }

        .btn {
          display: none;
        }
      }
    }
    .top-img {
      display: none;
    }
  }
}

.cta-fixed {
  width: 126px;
  max-width: 100%;
  z-index: 20;
  position: fixed;
  right: 0;
  bottom: -30px;
  z-index: 2;
}

@media (min-width: 900px) {
  .cta-fixed {
    width: 187px;
    max-width: 100%;
    z-index: 20;
    position: fixed;
    bottom: -44px;

    img {
      width: 187px;
      object-fit: cover;
      z-index: 2;
    }
  }
}

.cta-area1 {
  max-width: 100%;
  padding: 32px 0;
  margin: -45px auto 0 auto;
  background: #0ebc20;

  &-container {
    width: 88%;

    .content {
      flex-direction: row;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #ffffff;

      column-gap: 6px;

      img {
        width: 37px;
        height: 37px;
      }
    }

    .msg1 {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    .btn {
      margin-top: 24px;
      width: 280px;
      height: 64px;
      background: #ffffff;
      border-radius: 120px;

      padding: 20px 0px;
      display: block;
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #0ebc20;
    }
  }
}

@media (min-width: 900px) {
  .cta-area1 {
    padding: 32px 0;
    background: #0ebc20;
    margin: 0 auto;

    &-container {
      width: 900px;
      width: 88%;

      .content {
        img {
          width: 68px;
          height: 68px;
        }

        flex-direction: row;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.1em;
        color: #ffffff;
        font-size: 40px;
        align-items: flex-start;
      }

      .msg1 {
        margin-top: 0px;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        height: 70px;
        width: auto;
        font-size: 20px;
        background: #ffffff;
        border-radius: 120px;
        padding: 20px 30px;
        display: block;
        color: #0ebc20;
      }
    }
  }
}

.recommend {
  background: #123758;
  padding: 48px 0 108px 0;

  .container {
    width: 88%;
    max-width: 0 auto;

    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      align-items: end;
      letter-spacing: 0.1em;
      color: #ffffff;

      span {
        font-size: 24px;
        line-height: 120%;
      }
    }

    .sub {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 18px;

      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.1em;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
      }

      img {
        width: 52px;
        height: 18px;
      }
    }

    .content {
      margin-top: 24px;
      gap: 12px;

      .pc {
        display: none;
      }
    }

    .btn {
      margin-top: 52px;
      width: 280px;
      height: 64px;
      background: #0ebc20;
      border-radius: 120px;

      padding: 20px 0px;
      display: block;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
    }
  }
}

@media (min-width: 600px) {
  .recommend {
    max-width: 100%;
    width: auto;
    height: 670px;
    padding: 64px 0;

    .container {
      width: 1440px;

      h2 {
        font-size: 28px;
        line-height: 150%;

        span {
          font-size: 48px;
          line-height: 120%;
        }
      }

      .sub {
        column-gap: 30px;

        p {
          font-weight: 700;
          font-size: 40px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }

        img {
          width: 107px;
          height: 37px;
        }
      }

      .btn {
        margin-top: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: auto;
        font-size: 20px;
        background: #0ebc20;
        border-radius: 120px;
        padding: 20px 30px;
        display: block;
        color: #ffffff;
      }

      .content {
        margin-top: 60px;
        gap: 40px;
        max-width: 1085px;
        width: 90%;
        flex-direction: row-reverse;
        justify-content: center;

        .sp {
          display: none;
        }

        .pc {
          display: block;
        }

        .truck {
          width: 42%;
          margin-top: 22px;
        }

        .comment {
          width: 54%;
        }
      }
    }
  }
}

.achievements {
  background: #ffffff;
  padding: 56px 0 133px 0;

  .container {
    flex-direction: column;

    h2 {
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #000000;

      &::before {
        content: '';
        position: absolute;
        background: #222222;
        width: 59px;
        height: 3px;
        bottom: -14px;
      }
    }

    .line {
      font-weight: bold;
      letter-spacing: -5px;
      color: #222222;
      overflow: hidden;
    }

    .swiper {
      margin-top: 52px;

      .swiper-wrapper {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        align-items: start;
        scrollbar-width: none; // Firefox
        padding-left: 30px;

        &::-webkit-scrollbar {
          display: none; // Chrome, Safari, Opera
        }

        .swiper-slide {
          flex: 0 0 auto;
          width: 270px;
          max-width: 100%;
          align-items: flex-start;
          text-align: left;

          p {
            display: block;
          }
        }
      }

      .swiper-button-next {
        display: none;
      }

      .swiper-button-prev {
        display: none;
      }
    }
    .item-container {
      align-items: start;
      padding-top: 12px;

      .date {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #000000;
      }

      .name {
        margin-top: 12px;

        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.1em;
        color: #000000;
      }

      .model {
        width: 100%;
        margin-top: 2px;
        padding-bottom: 12px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.1em;

        border-bottom: 2px solid #e5e5e5;
      }

      .data {
        flex-direction: row;
        margin: 12px 0 0 0;

        .text {
          margin-left: 4px;
          font-size: 14px;
          line-height: 150%;
        }

        .value {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .achievements {
    width: 100%;
    padding: 56px 0 72px 0;

    .container {
      .item-container {
        margin: 0;
      }

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.1em;
      }

      .line {
        width: 360px;
        font-weight: bold;
        letter-spacing: -1px;
        color: #222222;
        margin-bottom: 8px;
        overflow: hidden;
      }

      .swiper {
        position: relative;
        margin-top: 52px;

        .swiper-button-next {
          display: block;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: #12bf24;
          position: absolute;
          top: calc(50% - 80px);
          transform: translateY(-50%);
          right: 32px;
          margin: 0;
        }

        .swiper-button-prev {
          display: block;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: #12bf24;
          position: absolute;
          top: calc(50% - 80px);
          transform: translateY(-50%);
          right: 32px;
          margin: 0;
        }

        /* 前へ次への矢印カスタマイズ */
        .swiper-button-prev::after {
          bottom: 0;
          content: '';
          height: 0;
          margin: auto;
          position: absolute;
          top: 0;
          left: 19%;
          width: 0;
        }

        .swiper-button-next::after {
          bottom: 0;
          content: '';
          height: 0;
          margin: auto;
          position: absolute;
          top: 0;
          right: 19%;
          width: 0;
        }

        /* 前への矢印カスタマイズ */
        .swiper-button-prev::after {
          border-bottom: 20px solid transparent;
          border-right: 30px solid #ffffff;
          border-top: 20px solid transparent;
        }

        /* 次への矢印カスタマイズ */
        .swiper-button-next::after {
          border-bottom: 20px solid transparent;
          border-left: 30px solid #ffffff;
          border-top: 20px solid transparent;
        }

        .swiper-wrapper {
          margin-left: 19%;
          display: flex;
          flex-direction: row;
          overflow: visible;
          white-space: nowrap;
          scrollbar-width: none; // Firefox

          &::-webkit-scrollbar {
            display: none; // Chrome, Safari, Opera
          }

          .swiper-slide {
            width: 300px;
            max-width: 100%;
            // height: 696px;
            display: flex;
            align-items: flex-start;
            text-align: left;

            p {
              display: block;
            }

            .date {
              margin: 0;
              font-size: 12px;
              line-height: 130%;
            }

            .name {
              margin-top: 18px;

              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: 0.1em;

              color: #000000;
            }

            .model {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 150%;
              letter-spacing: 0.1em;
            }

            .line {
              margin-top: 4px;
              letter-spacing: -5px;
              font-size: 12px;
              color: #e5e5e5;
              width: 240px;
            }

            .data {
              margin-right: 100px;
              flex-direction: row;
              align-content: start;

              .text {
                font-size: 18px;
              }

              .value {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.deal {
  background: #123758;
  padding: 56px 0;

  .container {
    width: 88%;

    h2 {
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #fff;

      &::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 59px;
        height: 3px;
        bottom: -14px;
      }
    }

    .manufacture {
      margin-top: 36px;
      align-items: start;
      color: #ffffff;

      .content {
        margin: 0 auto;
        margin-top: 12px;
        max-width: 100%;
        background: #ffffff;
        align-items: center;
        padding: 24px;
        row-gap: 22px;

        .logo {
          margin: 0 auto;
          width: 100%;
          row-gap: 8px;

          div {
            flex-direction: row;
            justify-content: space-between;

            img {
              width: calc((100% - 28px) / 2);
            }
          }
        }

        p {
          color: #565656;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }
      }
    }

    .genre {
      margin-top: 32px;
      width: 100%;
      align-items: start;

      p {
        color: #ffffff;
      }

      .content {
        margin-top: 8px;
        background: #ffffff;
        padding: 8px 0;
        width: 100%;
        padding: 24px;
        row-gap: 12px;

        .item-name {
          font-weight: 700;
          font-size: 16px;
          line-height: 170%;
          letter-spacing: 0.1em;
        }

        p {
          color: #565656;
          font-weight: 700;
          font-size: 13px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }
      }
    }

    .focus {
      margin-top: 32px;
      align-items: start;

      p {
        color: #ffffff;
      }

      .linear-gold {
        width: 345px;
        letter-spacing: -3px;
      }

      .offer {
        justify-content: start;
        letter-spacing: 0.03em;
        width: 240px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1em;
        background: linear-gradient(
          270deg,
          #cbb376 0%,
          #fff8e5 46%,
          #a39258 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .sp {
        display: block;
      }

      .pc {
        display: none;
      }

      .border-top {
        position: absolute;
        top: 21px;
        z-index: 2;
      }

      .border-bottom {
        position: absolute;
        top: 200px;
        z-index: 2;
      }

      .content {
        margin-top: 12px;
        width: 100%;
        background: #011f3a;
        border: 2px #cbb376 solid;
        padding: 23px;

        .item-name {
          width: 100%;

          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.1em;
          font-weight: 700;
          color: #ffffff;
        }

        p {
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .deal {
    padding: 72px 0 104px 0;
    background: #123758;

    .container {
      max-width: 960px;
      width: 90%;

      h2 {
        font-weight: 700;
        font-size: 32px;
      }

      .line {
        font-weight: bold;
        letter-spacing: -6px;
        color: #eae6e6;
        margin-bottom: 8px;
      }

      .manufacture {
        margin-top: 68px;
        align-items: start;
        flex-wrap: wrap;

        p {
          color: #ffffff;
          font-size: 24px;
        }

        .content {
          padding: 32px;
          margin: 0 auto;
          margin-top: 12px;
          width: 100%;
          max-width: 100%;
          background: #ffffff;
          padding-top: 16px;
          align-items: flex-start;

          .logo {
            gap: 8px;
            flex-direction: row;

            div {
              gap: 16px;
              width: 100%;
              flex-direction: column;
              justify-content: flex-start;

              img {
                width: 100%;
              }
            }
          }

          p {
            margin: 0;
            font-size: 17px;
            color: #565656;
            font-weight: 700;
          }
        }
      }

      .genre {
        margin-top: 32px;
        align-items: start;

        p {
          color: #ffffff;
          font-size: 24px;
        }

        .content {
          margin-top: 12px;
          padding: 32px;
          align-items: start;

          .item-name {
            padding: 0;
            font-weight: 700;
            font-size: 19px;
            line-height: 150%;
            letter-spacing: 0.1em;
          }

          .caution {
            margin: 0px;
            color: #565656;
          }

          p {
            font-size: 18px;
          }
        }
      }

      .focus {
        margin-top: 32px;
        align-items: start;

        p {
          color: #ffffff;
          font-size: 24px;
        }

        .offer {
          justify-content: start;
          letter-spacing: 0.03em;
          width: 400px;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: 0.1em;

          /* gord */
          background: linear-gradient(
            270deg,
            #cbb376 0%,
            #fff8e5 46%,
            #a39258 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        .sp {
          display: none;
        }

        .pc {
          display: block;
        }

        .border-top {
          position: absolute;
          top: 27px;
          z-index: 2;
          width: 100%;
          max-width: 100%;
        }

        .border-bottom {
          position: absolute;
          width: 100%;

          top: 138px;
          z-index: 2;
        }

        .content {
          margin-top: 8px;
          background: #011f3a;
          border: 2px #cbb376 solid;
          padding: 32px;
          margin-top: 16px;

          .item-name {
            color: #ffffff;
            font-size: 19px;
            line-height: 160%;
            letter-spacing: 0.1em;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.reason {
  padding: 58px 0 52px 0;
  background: #0c2e4c;

  .container {
    width: 88%;

    .sub {
      flex-direction: row;
      align-items: baseline;
      column-gap: 8px;

      img {
        width: 34px;
        height: 12px;
      }

      h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.1em;

        color: #ffffff;
        align-items: baseline;
      }

      span {
        font-weight: 700;
        font-size: 33.0168px;
        line-height: 120%;
        letter-spacing: 0.1em;
      }
    }

    .content-container {
      margin-top: 64px;
      row-gap: 40px;

      .content {
        position: relative;
        padding: 30px 24px;
        width: 100%;

        background: #ffffff;
        gap: 16px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        .number {
          position: absolute;
          width: 48px;
          height: 48px;
          left: 50%;
          transform: translateX(-50%);
          top: -24px;

          width: 48px;
          height: 48px;
          gap: 8px;
          border-radius: 64px;

          background: #ffffff;
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }

        .keyword {
          color: #00a811;
          font-size: 20px;
          font-weight: 700;
          line-height: 150%;
        }

        .description {
          margin-top: -6px;
        }

        p {
          font-weight: 700;
          line-height: 150%;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .reason {
    background: #0c2e4c;
    padding: 88px 0 140px 0;

    .container {
      max-width: 1054px;
      width: 90%;

      .sub {
        flex-direction: row;
        align-items: baseline;
        justify-content: center;

        img {
          display: block;
          width: 107px;
          height: 37px;
        }

        h2 {
          font-size: 28px;
          line-height: 150%;
          color: #ffffff;
        }

        span {
          font-weight: 700;
          font-size: 33.0168px;
          line-height: 120%;
          letter-spacing: 0.1em;
          font-size: 48px;
        }
      }

      .content-container {
        margin-top: 77px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 32px;
        row-gap: 64px;

        .content {
          margin: 0;
          padding: 48px 24px 32px 24px;
          width: calc((100% - 64px) / 3);
          background: #ffffff;
          gap: 16px;
          align-items: center;
          justify-content: flex-start;
          border-radius: 8px;
          min-height: 320px;

          .keyword {
            width: 100%;
            font-size: 20px;
            letter-spacing: 0.1em;
            color: #00a811;
          }

          img {
            width: 100px;
            height: 100px;
          }

          p {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.1em;
          }

          .number {
            width: 48px;
            height: 48px;
            font-size: 24px;
          }

          .description {
            margin-top: 2px;
          }
        }
      }
    }
  }
}

.flow {
  background: #123758;
  padding: 44px 0 56px 0;

  .flow-area {
    row-gap: 121px;
  }

  .container {
    width: 88%;
    margin: 0 auto;
    row-gap: 48px;

    .msg-area {
      align-items: start;

      img {
        width: 259px;
        height: 49px;
      }

      .linear-gold {
        margin-top: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
      }

      p {
        margin-top: 24px;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: 0.1em;
        color: #ffffff;
      }
    }

    .flow-card {
      &:nth-child(1)::before,
      &:nth-child(2)::before {
        content: '';
        position: absolute;

        width: 73px;
        height: 104px;
        background-image: url(/img/arrow-right.svg);
        background-size: cover;
        background-repeat: no-repeat;
        left: 50%;
        bottom: -116px;
        transform: translateX(-50%) rotate(90deg);
      }

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 170%;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

      .step {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        background: #0ebc20;
        padding: 0 12px;
        border-radius: 4px;
      }

      .flow-title {
        margin-top: 24px;

        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

      img {
        margin-top: 16px;
      }

      .text1 {
        margin-top: 16px;

        font-weight: 700;
        font-size: 16px;
        line-height: 170%;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

      .text2 {
        margin-top: 12px;

        font-size: 13px;
        color: #9eb9d1;
      }
    }

    .direction {
      margin: 24px 0;
    }
  }
}

@media (min-width: 900px) {
  .flow {
    background: #123758;
    padding: 104px 0 100px 0;

    .container {
      width: 90%;
      max-width: 1120px;
      margin: 0 auto;
      row-gap: 64px;

      .msg-area {
        align-items: center;
        text-align: center;

        img {
          width: 377px;
          height: 61px;
        }

        p {
          font-size: 16px;
        }

        .pc {
          display: none;
        }

        .linear-gold {
          margin-top: 32px;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
          font-weight: 700;
          font-size: 32px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }
      }

      .flow-area {
        position: relative;

        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        column-gap: 80px;
        max-width: 100%;
        flex-direction: row;

        .flow-card {
          position: relative;
          width: 100%;
          gap: 12px;
          width: calc((100% - 160px) / 3);
          min-height: 510px;

          &:nth-child(1)::before,
          &:nth-child(2)::before {
            content: '';
            position: absolute;

            width: 73px;
            height: 104px;
            background-image: url(/img/arrow-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            right: -80px;
            bottom: auto;
            left: auto;
            transform: translateY(-50%);
          }

          p {
            font-weight: 700;
            font-size: 16px;
            line-height: 170%;
            letter-spacing: 0.1em;
            color: #ffffff;
          }

          .step {
            background: #0ebc20;
            padding: 4px 16px;
            border-radius: 4px;
          }

          .flow-title {
            margin-top: 12px;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.1em;
            color: #ffffff;
            align-items: center;
          }

          img {
            margin-top: 24px;
          }

          .text1 {
            margin-top: 46px;
          }

          .text2 {
            font-size: 13px;
            color: #9eb9d1;
          }
        }

        .direction {
          transform: rotate(-90deg);
          scale: 0.8;
        }

        .direction2 {
          margin-top: 84px;
          scale: 0.8;
        }
      }

      .area-3 {
        width: 320px;
      }
    }
  }
}

.cta-area2 {
  background: #062744;
  padding: 48px 0 56px 0;

  .container {
    width: 90%;
    justify-content: space-around;

    .title {
      flex-direction: row;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.1em;

      span {
        color: #ffffff;
        font-size: 16.4566px;
        line-height: 150%;
        color: #ffffff;
        font-weight: 700;
      }
    }

    .text1 {
      margin-top: 16px;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1em;
    }

    .text2 {
      margin: 24px 0 8px 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    .btn {
      margin-top: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 64px;
      padding: 0 36px;
      background: #0ebc20;
      border-radius: 120px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;

      align-self: center;
    }
  }
}

@media (min-width: 900px) {
  .cta-area2 {
    padding: 97px 0 126px 0;

    .container {
      width: 1120px;
      width: 90%;
      flex-direction: row;
      align-items: flex-start;
      column-gap: 30px;

      .content {
        align-items: flex-start;
        margin: 0;
      }

      .title {
        margin: 0;
        flex-direction: row;
        align-items: end;
        font-size: clamp(20px, 3.33vw, 48px);

        span {
          font-size: 28px;
        }
      }

      .text1 {
        margin-top: 28px;
        font-size: 18px;
      }

      .text2 {
        margin: 0;
        font-size: 20px;
      }

      svg {
        scale: 1.4;
        margin-left: 10px;
      }

      .btn {
        display: flex;
        height: 70px;
        margin-top: 16px;
        background: #0ebc20;
        border-radius: 120px;

        padding: 20px 40px;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
      }
    }
  }
}

.qa {
  background: #123758;
  padding: 64px 0;

  .container {
    width: 88%;

    h2 {
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #ffffff;

      &::before {
        content: '';
        position: absolute;
        background: #fff;
        width: 59px;
        height: 3px;
        bottom: -14px;
      }
    }

    .line {
      font-weight: bold;
      letter-spacing: -5px;
      color: #eae6e6;
      margin-bottom: 24px;
    }

    .questions {
      margin-top: 44px;
      row-gap: 8px;

      & > li {
        width: 100%;
      }

      .question,
      .answer {
        width: 100%;
        flex-direction: row;
        padding: 12px 16px;
        background: #ffffff;
        column-gap: 12px;

        .column {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1em;

          white-space: nowrap;
        }

        .text {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }

      .answer {
        background: #f8f8f8;
        padding: 24px 16px;
        align-items: start;

        .text {
          font-weight: 400;
          font-size: 14px;
          line-height: 170%;
          color: #1d1d1d;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .qa {
    background: #123758;
    padding: 100px 0 120px 0;

    .container {
      width: 90%;
      max-width: 1120px;
      text-align: left;

      h2 {
        font-weight: 700;
        font-size: 32px;
      }

      .questions {
        margin-top: 74px;
        row-gap: 8px;

        & > li {
          width: 100%;
        }

        .question,
        .answer {
          padding: 22px 24px;
          column-gap: 12px;

          .column {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0.1em;

            white-space: nowrap;
          }

          .text {
            font-size: 20px;
          }
        }

        .answer {
          padding: 19px 24px;

          .text {
            font-weight: 400;
            font-size: 15px;
            line-height: 170%;
            color: #1d1d1d;
          }
        }
      }
    }
  }
}

footer {
  background: #062038;
  padding: 40px 0;

  .nav {
    align-items: start;
    width: 88%;

    gap: 12px;
    margin: 0;

    & > li {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #ffffff;
    }

    .pc {
      display: none;
    }
  }

  .copy-area {
    width: 88%;
    align-items: start;

    .copy {
      margin-top: 32px;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #a6a6a6;
    }
  }
}

@media (min-width: 900px) {
  .footer {
    width: auto;
    height: 146px;

    .container {
      width: 1440px;
      margin-top: 44px;
      width: 390px;
      gap: 0px;

      .nav {
        width: 88%;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        margin: 0 auto;

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.1em;
        }

        p {
          font-size: 14px;
          justify-content: center;
          color: #ffffff;
        }

        .pc {
          display: block;
        }
      }

      .copy-area {
        width: 100%;
        align-items: center;

        .copy {
          margin-top: 32px;
        }
      }
    }
  }
}
